/* footer */
.footer {
  border: none;
  background-color: #141e30;
  padding-top: 50px;
  padding-bottom: 30px;
}

.footer .region-footer h2 {
  color: #fff;
  margin: 0 0 25px 0;
}

.footer nav {
  display: inline-block;
  vertical-align: top;
  min-width: 15%;
}

.footer nav .nav > li {
  margin-bottom: 15px;
}

.footer nav .nav > li > a,
.footer nav .nav > li > a:hover {
  padding: 0;
  color: #fff;
  background-color: transparent;
}
