/**
 * If using a CSS pre-processor, tell it to overwrite this file. If not, place
 * your custom CSS modifications here.
 */

body {
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  color: #141E30;
}

h1 {

}

h2 {
  font-size: 20px;
  line-height: 30px;
  font-weight: 600;
}

h3 {
  font-size: 16px;
  line-height: 30px;
}

.navbar-header {
  float: none;
}

/* navbar */
.navbar {
  border-radius: 0;
  border: none;
  background-color: transparent;
  padding: 0;
  min-height: auto;
  margin-bottom: 0px;
}

/* header navbar */
.navbar-nav > li > a {
  padding: 0 11px;
  font-size: 14px;
  line-height: 21px;
  text-transform: capitalize;
}

/* header-account-nav */
.header-account-nav {
  float: right;
}

/* footer */
.footer {
  border: none;
  background-color: #141e30;
  padding: 0;
}

.footer .region-footer h2 {
  color: #fff;
}

.footer nav {
  display: inline-block;
  vertical-align: top;
}

.footer nav .nav > li > a {
  padding: 0;
  color: #fff;
}
